body{
    background: url(./assets/pre/bg_repeat.png) repeat;
}

div.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.main .outer {
    position: absolute;
    z-index: 0;
}

.main .bg {
    position: absolute;
    overflow: hidden;
    background-color: #663399;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 2;
}
.main .score{
    position: absolute;
    z-index: 3;
    top:0;
    background-color: azure;
    border:1px solid black;
    width: 130px;
    height: 30px;
}

.main .bg img {
    overflow: hidden;
    width: calc(100% + 15%);
    margin-top: 25px;
    margin-left: -15px;
}

.main .displayWrap {
    position: absolute;
    display: flex;
    background-color: unset;
    border-radius: initial;
    width: 305px;
    height: 305px;
    /* overflow-y: scroll; */
    z-index: 4;
}

.displayWrap .display {
    width: 100%;
    position: relative;
    margin: 50px;
}

.display .debugDispWrapper {
    position: absolute;
    bottom: 0;
    left: -7px;
    right: 0;
    background-color: #800080B8;
    font-weight: bolder;
    color: #fff;
    width: calc(100% - 1rem);
    height: 4rem;
    padding: 5px 14px;
    font-size: 14px;
    border-radius: 50px;
}

.debugDispWrapper .mConsole.item {
    padding: 0;
}
.main .btns {
    position: absolute;
    /* z-index: 6; */
}

.main .gph {
    z-index: 6;
}