div.main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .outer{
    position: absolute;
    z-index: 0;
}

.main .bg,.main .display{
    position: absolute;
    background-color: ivory;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 2;
}
.main .display{
    background-color: unset;
    border-radius: initial;
    width: inherit;
    height: inherit;
    /* overflow-y: scroll; */
    z-index: 3;
}
.main .gph{
    z-index: 4;
}
.main .btns{
    position: absolute;
    /* z-index: 6; */
}