@keyframes slide_fadein {
  0% {
    opacity: 0;
    margin-left: -50%;
    width: 150%
  }

  70% {
    opacity: 0;
    margin-left: -50%;
    width: 150%
  }

  100% {
    opacity: 1;
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}